@@if (typeof website !== 'undefined' && typeof date !== 'undefined') {
<div class="tc dtc-ns w6 pa3 center serverlessdays-event">
    <div class="center shadow-5">
        <div class="h5 bg-light-gray hide-child cover" style="background-image: url(@@image)">
            <div class="w-100 h-100 child bg-black-50 pa4">
                <p class="pt5">
                    <a class="white" target="_blank" title="ServerlessDays @@label" href="@@website">@@website</a>
                </p>
            </div>
        </div>
        <div class="bg-white dark-gray pa3">
            @@label - @@date
        </div>
    </div>
</div>
}