@@if (typeof website !== 'undefined' && typeof date !== 'undefined') {
<div class="dtc-ns w6 pa3 center serverlessdays-event">
    <div class="center shadow-5">
        <div class="h5 bg-light-gray hide-child cover" style="background-image: url(@@image)">
            <div class="avenir white w-100 h-100 child bg-black-50 pa4 v-mid tc">
                <p><a class="white" target="_blank" title="ServerlessDays @@label" href="@@website">@@website</a></p>
            </div>
        </div>
        <div class="h3 bg-white">
            <p class="avenir f5 dark-gray ma0 tc pt3">
                @@label - @@date
            </p>
        </div>
    </div>
</div>
}