<div id="navbar" class="w-100 bg-white">
    <nav class="tc pv2 pv3-ns f5 f4-ns avenir">
        <a id="top-nav-index" class="nav-index pa2 dark-gray no-underline dib" href="/" title="Home">Home</a>
        <a id="top-nav-map" class="nav-map pa2 dark-gray no-underline dib" href="/map" title="Map">Map</a>
        <a id="top-nav-previous" class="nav-events pa2 dark-gray no-underline dib" href="/events">Upcoming Events</a>
        <a id="top-nav-previous" class="nav-previous pa2 dark-gray no-underline dib" href="/previous">Past Events</a>
<!--            
        <a class="pa2 dark-gray no-underline dib" href="/speaking/">Speaking</a>
-->
        <a id="top-nav-organise" class="nav-organise pa2 dark-gray no-underline dib" href="/organise" title="Organise">Organise</a>
        <a id="top-nav-coc" class="nav-coc pa2 dark-gray no-underline dib" href="/coc" title="Code of Conduct">Code of Conduct</a>
<!--
        <a class="pa2 dark-gray no-underline dib" href="/community/">Community</a>
        <a class="pa2 pr3-ns dark-gray no-underline dib" href="/history/">History</a>
-->
    </nav>
</div>