<div class="mt6 w-100 relative bg-grad9">
    <div class="dn db-ns absolute right-2 mr4" style="margin-top: -150px">
        <img class="pa0 ma0" title="I am Jeff's friend!" alt="" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_220/v1518368936/unicorn_mascot_1_vyq3zb.png" />
    </div> 

    <div class="w-100 w-80-ns center mt0-ns">
        <h2 class="f4 f2-ns dark-gray tc">News</h2>
            
        <div class="w-100 w-80-m w-70-l pa1 ph2-ns bg-white ba br0 b--light-gray center shadow-6" style="z-index: 10">
            
            <article class="ml2 ph2 pv1 tl black v-top grow pointer">
                <a title="Statement regarding Stackery & ServerlessDays" class="dt w-100 no-underline black" target="_blank" href="https://serverless.zone/goodbye-jeffconf-hello-serverlessdays-9ae26791d3f">
                    <div class="dtc w4-ns">
                        <span class="b f6 tl">8 March 2019</span>
                    </div>
                    <div class="dtc">
                        <h3 class="pt1 mv1 f5 b">Statement regarding Stackery & ServerlessDays</h3>
                        <div class="lh-copy f6 dark-gray">
                            <p class="mt0">
                                [So what’s a ServerlessDay? Help us grow the community in your area!]
                            </p>
                        </div>
                    </div>
                </a>
            </article>

            <article class="ml2 ph2 pv1 tl black v-top grow pointer">
                <a title="Goodbye JeffConf, hello ServerlessDays!!" class="dt w-100 no-underline black" target="_blank" href="https://serverless.zone/goodbye-jeffconf-hello-serverlessdays-9ae26791d3f">
                    <div class="dtc w4-ns">
                        <span class="b f6 tl">10 Apr 2018</span>
                    </div>
                    <div class="dtc">
                        <h3 class="pt1 mv1 f5 b">Goodbye JeffConf, hello ServerlessDays!!</h3>
                        <div class="lh-copy f6 dark-gray">
                            <p class="mt0">
                                [So what’s a ServerlessDay? Help us grow the community in your area!]
                            </p>
                        </div>
                    </div>
                </a>
            </article>

            <article class="ml2 ph2 pv1 tl black v-top grow pointer">
                <a title="JeffConf Hamburg 2018 - One Day. One Track. One Community." class="dt w-100 no-underline black" target="_blank" href="https://developer.epages.com/blog/events/jeffconf-hamburg-2018-one-day-one-track-one-community/">
                    <div class="dtc w4-ns">
                        <span class="b f6 tl">21 Feb 2018</span>
                    </div>
                    <div class="dtc">
                        <h3 class="pt1 mv1 f5 b">JeffConf Hamburg 2018 - One Day. One Track. One Community.</h3>
                        <div class="lh-copy f6 dark-gray">
                            <p class="mt0">
                                [Highlights from the trenches of the “last” JeffConf in Hamburg]
                            </p>
                        </div>
                    </div>
                </a>
            </article>

            <article class="ml2 ph2 pv1 tl black v-top grow pointer">
                <a title="From buzzword to meaningful infrastructure option? What’s behind “Serverless”" class="dt w-100 no-underline black" target="_blank" href="https://serverless.zone/from-buzzword-to-meaningful-infrastructure-option-whats-behind-serverless-fad87f290929">
                    <div class="dtc w4-ns">
                        <span class="b f6 tl">25 Jan 2018</span>
                    </div>
                    <div class="dtc">
                        <h3 class="pt1 mv1 f5 b">From buzzword to meaningful infrastructure option? What’s behind “Serverless”</h3>
                        <div class="lh-copy f6 dark-gray">
                            <p class="mt0">
                                [Interview with Alex Casalboni, translated from the original article published on t3n]
                            </p>
                        </div>
                    </div>
                </a>
            </article>

            <article class="ml2 ph2 pv1 tl black v-top grow pointer">
                <a title="JeffConf Milan 2017 — Good things comes in threes (at least!)" class="dt w-100 no-underline black" target="_blank" href="https://serverless.zone/jeffconf-milan-2017-good-things-comes-in-threes-at-least-663df79763ee">
                    <div class="dtc w4-ns">
                        <span class="b f6 tl">3 Oct 2017</span>
                    </div>
               
                    <div class="dtc">
                        <h3 class="pt1 mv1 f5 b">JeffConf Milan 2017 — Good things comes in threes (at least!)</h3>
                        <div class="lh-copy f6 dark-gray">
                            <p class="pt0 mt0">
                                21 speakers, 6 hours of technical sessions, and 125 attendees. That is not bad for a no-profit conference organized in less than 8 weeks, is it?
                            </p>
                        </div>
                    </div>
                </a>
            </article>
        </div>

        <div class="dn db-ns ml5 absolute" style="margin-top: -90px">
            <img class="pa0 ma0" title="I am Jeff's friend!" alt="" src="https://res.cloudinary.com/senzo/image/upload/c_scale,w_220/v1518368936/octo_mascot_usu91v.png" />
        </div>

    </div>
    
</div>